kv/KOKU-MultipleTextMessage/Services/KokuMessageProcessingServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="KokuMessageProcessingService" targetNamespace="http://soa.kv.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.kv.koku.arcusys.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soa.kv.koku.arcusys.fi/" version="1.0" xmlns:tns="http://soa.kv.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="receiveMessage" type="tns:receiveMessage" />
<xs:element name="receiveMessageResponse" type="tns:receiveMessageResponse" />
<xs:element name="receiveNewMessage" type="tns:receiveNewMessage" />
<xs:element name="receiveNewMessageResponse" type="tns:receiveNewMessageResponse" />
<xs:element name="sendMessage" type="tns:sendMessage" />
<xs:element name="sendMessageResponse" type="tns:sendMessageResponse" />
<xs:complexType name="receiveMessage">
<xs:sequence>
<xs:element minOccurs="0" name="toUser" type="xs:string" />
<xs:element minOccurs="0" name="messageId" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="receiveMessageResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="sendMessage">
<xs:sequence>
<xs:element minOccurs="0" name="fromUser" type="xs:string" />
<xs:element minOccurs="0" name="subject" type="xs:string" />
<xs:element minOccurs="0" name="receipients" type="tns:receipients" />
<xs:element minOccurs="0" name="messageContent" type="xs:string" />
<xs:element minOccurs="0" name="sendToFamilyMembers" type="xs:boolean" />
<xs:element minOccurs="0" name="sendToGroupSite" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="receipients">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="receipient" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sendMessageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="messageId" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="receiveNewMessage">
<xs:sequence>
<xs:element minOccurs="0" name="fromUser" type="xs:string" />
<xs:element minOccurs="0" name="subject" type="xs:string" />
<xs:element minOccurs="0" name="toUser" type="xs:string" />
<xs:element minOccurs="0" name="messageContent" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="receiveNewMessageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="messageId" type="xs:long" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part element="tns:sendMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMessage">
    <wsdl:part element="tns:sendMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveMessage">
    <wsdl:part element="tns:receiveMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveNewMessageResponse">
    <wsdl:part element="tns:receiveNewMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveMessageResponse">
    <wsdl:part element="tns:receiveMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveNewMessage">
    <wsdl:part element="tns:receiveNewMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KokuMessageProcessingService">
    <wsdl:operation name="receiveMessage">
      <wsdl:input message="tns:receiveMessage" name="receiveMessage">
    </wsdl:input>
      <wsdl:output message="tns:receiveMessageResponse" name="receiveMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input message="tns:sendMessage" name="sendMessage">
    </wsdl:input>
      <wsdl:output message="tns:sendMessageResponse" name="sendMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveNewMessage">
      <wsdl:input message="tns:receiveNewMessage" name="receiveNewMessage">
    </wsdl:input>
      <wsdl:output message="tns:receiveNewMessageResponse" name="receiveNewMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KokuMessageProcessingServiceSoapBinding" type="tns:KokuMessageProcessingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="receiveMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="receiveMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="receiveMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveNewMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="receiveNewMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="receiveNewMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KokuMessageProcessingService">
    <wsdl:port binding="tns:KokuMessageProcessingServiceSoapBinding" name="KokuMessageProcessingServicePort">
      <soap:address location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-kv-model-0.1-SNAPSHOT/KokuMessageProcessingServiceImpl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>