tiva/KOKU-TIVA_Tietopyynto/Services/KokuTietopyyntoProcessingServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KokuTietopyyntoProcessingService" targetNamespace="http://soa.tiva.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soa.tiva.koku.arcusys.fi/" version="1.0" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getTietoelementit" type="tns:getTietoelementit"/>
<xs:element name="getTietoelementitResponse" type="tns:getTietoelementitResponse"/>
<xs:element name="hylkaTietopyynto" type="tns:hylkaTietopyynto"/>
<xs:element name="hylkaTietopyyntoResponse" type="tns:hylkaTietopyyntoResponse"/>
<xs:element name="hyvaksyTietopyynto" type="tns:hyvaksyTietopyynto"/>
<xs:element name="hyvaksyTietopyyntoResponse" type="tns:hyvaksyTietopyyntoResponse"/>
<xs:element name="luoTietopyynto" type="tns:luoTietopyynto"/>
<xs:element name="luoTietopyyntoResponse" type="tns:luoTietopyyntoResponse"/>
<xs:element name="record" type="tns:informationCategoryTO"/>
<xs:complexType name="getTietoelementit">
<xs:sequence>
<xs:element minOccurs="0" name="userUid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTietoelementitResponse">
<xs:sequence>
<xs:element minOccurs="0" name="record" type="tns:informationCategoryTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="informationCategoryTO">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="record" type="tns:informationCategoryTO"/>
</xs:sequence>
<xs:attribute name="jsxid" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="jsxtext" type="xs:string"/>
</xs:complexType>
<xs:complexType name="hyvaksyTietopyynto">
<xs:sequence>
<xs:element minOccurs="0" name="tietoPynnonVastaus" type="tns:informationRequestReplyTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="informationRequestReplyTO">
<xs:sequence>
<xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
<xs:element minOccurs="0" name="attachmentURL" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryIds" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="informationAccessType" type="tns:informationAccessType"/>
<xs:element minOccurs="0" name="informationDetails" type="xs:string"/>
<xs:element minOccurs="0" name="replierUid" type="xs:string"/>
<xs:element minOccurs="0" name="requestId" type="xs:long"/>
<xs:element minOccurs="0" name="validTill" type="xs:date"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="hyvaksyTietopyyntoResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="luoTietopyynto">
<xs:sequence>
<xs:element minOccurs="0" name="tietopyynto" type="tns:informationRequestTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="informationRequestTO">
<xs:sequence>
<xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="category" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="legislationInfo" type="xs:string"/>
<xs:element minOccurs="0" name="receiverRoleUid" type="xs:string"/>
<xs:element minOccurs="0" name="receiverUid" type="xs:string"/>
<xs:element minOccurs="0" name="requestId" type="xs:long"/>
<xs:element minOccurs="0" name="requestPurpose" type="xs:string"/>
<xs:element minOccurs="0" name="senderUid" type="xs:string"/>
<xs:element minOccurs="0" name="targetPersonUid" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="validTill" type="xs:anySimpleType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="luoTietopyyntoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="tietopyyntoId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="hylkaTietopyynto">
<xs:sequence>
<xs:element minOccurs="0" name="tietopyyntoId" type="xs:long"/>
<xs:element minOccurs="0" name="userUid" type="xs:string"/>
<xs:element minOccurs="0" name="explanation" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="hylkaTietopyyntoResponse">
<xs:sequence/>
</xs:complexType>
<xs:simpleType name="informationAccessType">
<xs:restriction base="xs:string">
<xs:enumeration value="Manual"/>
<xs:enumeration value="Portal"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="luoTietopyyntoResponse">
    <wsdl:part element="tns:luoTietopyyntoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTietoelementitResponse">
    <wsdl:part element="tns:getTietoelementitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hyvaksyTietopyynto">
    <wsdl:part element="tns:hyvaksyTietopyynto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hyvaksyTietopyyntoResponse">
    <wsdl:part element="tns:hyvaksyTietopyyntoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hylkaTietopyyntoResponse">
    <wsdl:part element="tns:hylkaTietopyyntoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="luoTietopyynto">
    <wsdl:part element="tns:luoTietopyynto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTietoelementit">
    <wsdl:part element="tns:getTietoelementit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hylkaTietopyynto">
    <wsdl:part element="tns:hylkaTietopyynto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KokuTietopyyntoProcessingService">
    <wsdl:operation name="getTietoelementit">
      <wsdl:input message="tns:getTietoelementit" name="getTietoelementit">
    </wsdl:input>
      <wsdl:output message="tns:getTietoelementitResponse" name="getTietoelementitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hyvaksyTietopyynto">
      <wsdl:input message="tns:hyvaksyTietopyynto" name="hyvaksyTietopyynto">
    </wsdl:input>
      <wsdl:output message="tns:hyvaksyTietopyyntoResponse" name="hyvaksyTietopyyntoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="luoTietopyynto">
      <wsdl:input message="tns:luoTietopyynto" name="luoTietopyynto">
    </wsdl:input>
      <wsdl:output message="tns:luoTietopyyntoResponse" name="luoTietopyyntoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hylkaTietopyynto">
      <wsdl:input message="tns:hylkaTietopyynto" name="hylkaTietopyynto">
    </wsdl:input>
      <wsdl:output message="tns:hylkaTietopyyntoResponse" name="hylkaTietopyyntoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KokuTietopyyntoProcessingServiceSoapBinding" type="tns:KokuTietopyyntoProcessingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTietoelementit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTietoelementit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTietoelementitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hyvaksyTietopyynto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hyvaksyTietopyynto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hyvaksyTietopyyntoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="luoTietopyynto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="luoTietopyynto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="luoTietopyyntoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hylkaTietopyynto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hylkaTietopyynto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hylkaTietopyyntoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KokuTietopyyntoProcessingService">
    <wsdl:port binding="tns:KokuTietopyyntoProcessingServiceSoapBinding" name="KokuTietopyyntoProcessingServicePort">
      <soap:address location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuTietopyyntoProcessingServiceImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>