tiva/KOKU-TIVA_Tietopyynto/Services/UsersAndGroupsServiceImpl.wsdl

<definitions name="UsersAndGroupsService" targetNamespace="http://soa.common.koku.arcusys.fi/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema targetNamespace="http://soa.common.koku.arcusys.fi/" version="1.0" xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="getChildInfo" type="tns:getChildInfo"/>
   <xs:element name="getChildInfoResponse" type="tns:getChildInfoResponse"/>
   <xs:element name="getKunpoNameByUserUid" type="tns:getKunpoNameByUserUid"/>
   <xs:element name="getKunpoNameByUserUidResponse" type="tns:getKunpoNameByUserUidResponse"/>
   <xs:element name="getLooraNameByUserUid" type="tns:getLooraNameByUserUid"/>
   <xs:element name="getLooraNameByUserUidResponse" type="tns:getLooraNameByUserUidResponse"/>
   <xs:element name="getSsnByLdapName" type="tns:getSsnByLdapName"/>
   <xs:element name="getSsnByLdapNameResponse" type="tns:getSsnByLdapNameResponse"/>
   <xs:element name="getUserInfo" type="tns:getUserInfo"/>
   <xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>
   <xs:element name="getUserUidByEmployeeSsn" type="tns:getUserUidByEmployeeSsn"/>
   <xs:element name="getUserUidByEmployeeSsnResponse" type="tns:getUserUidByEmployeeSsnResponse"/>
   <xs:element name="getUserUidByKunpoName" type="tns:getUserUidByKunpoName"/>
   <xs:element name="getUserUidByKunpoNameResponse" type="tns:getUserUidByKunpoNameResponse"/>
   <xs:element name="getUserUidByKunpoSsn" type="tns:getUserUidByKunpoSsn"/>
   <xs:element name="getUserUidByKunpoSsnResponse" type="tns:getUserUidByKunpoSsnResponse"/>
   <xs:element name="getUserUidByLooraName" type="tns:getUserUidByLooraName"/>
   <xs:element name="getUserUidByLooraNameResponse" type="tns:getUserUidByLooraNameResponse"/>
   <xs:element name="getUsersByGroupUid" type="tns:getUsersByGroupUid"/>
   <xs:element name="getUsersByGroupUidResponse" type="tns:getUsersByGroupUidResponse"/>
   <xs:element name="getUsersChildren" type="tns:getUsersChildren"/>
   <xs:element name="getUsersChildrenResponse" type="tns:getUsersChildrenResponse"/>
   <xs:element name="searchChildren" type="tns:searchChildren"/>
   <xs:element name="searchChildrenResponse" type="tns:searchChildrenResponse"/>
   <xs:element name="searchEmployees" type="tns:searchEmployees"/>
   <xs:element name="searchEmployeesResponse" type="tns:searchEmployeesResponse"/>
   <xs:element name="searchGroups" type="tns:searchGroups"/>
   <xs:element name="searchGroupsResponse" type="tns:searchGroupsResponse"/>
   <xs:element name="searchUsers" type="tns:searchUsers"/>
   <xs:element name="searchUsersResponse" type="tns:searchUsersResponse"/>
   <xs:complexType name="getUserInfo">
    <xs:sequence>
     <xs:element minOccurs="0" name="userUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserInfoResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user">
    <xs:sequence>
     <xs:element minOccurs="0" name="displayName" type="xs:string"/>
     <xs:element minOccurs="0" name="email" type="xs:string"/>
     <xs:element minOccurs="0" name="firstname" type="xs:string"/>
     <xs:element minOccurs="0" name="lastname" type="xs:string"/>
     <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
     <xs:element minOccurs="0" name="uid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getSsnByLdapName">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getSsnByLdapNameResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByKunpoName">
    <xs:sequence>
     <xs:element minOccurs="0" name="kunpoUsername" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByKunpoNameResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="userUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByLooraName">
    <xs:sequence>
     <xs:element minOccurs="0" name="looraUsername" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByLooraNameResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="userUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUsersChildren">
    <xs:sequence>
     <xs:element minOccurs="0" name="userUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUsersChildrenResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:childWithHetu"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childWithHetu">
    <xs:complexContent>
     <xs:extension base="tns:child">
      <xs:sequence>
       <xs:element minOccurs="0" name="hetu" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="child">
    <xs:complexContent>
     <xs:extension base="tns:user">
      <xs:sequence>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="parents" nillable="true" type="tns:user"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getKunpoNameByUserUid">
    <xs:sequence>
     <xs:element minOccurs="0" name="userUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getKunpoNameByUserUidResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="kunpoUsername" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getLooraNameByUserUid">
    <xs:sequence>
     <xs:element minOccurs="0" name="userUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getLooraNameByUserUidResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="looraUsername" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchUsers">
    <xs:sequence>
     <xs:element minOccurs="0" name="searchString" type="xs:string"/>
     <xs:element name="limit" type="xs:int"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchUsersResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchEmployees">
    <xs:sequence>
     <xs:element minOccurs="0" name="searchString" type="xs:string"/>
     <xs:element name="limit" type="xs:int"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchEmployeesResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByKunpoSsn">
    <xs:sequence>
     <xs:element minOccurs="0" name="ssn" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByKunpoSsnResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchGroups">
    <xs:sequence>
     <xs:element minOccurs="0" name="searchString" type="xs:string"/>
     <xs:element name="limit" type="xs:int"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchGroupsResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="group" type="tns:group"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="group">
    <xs:sequence>
     <xs:element minOccurs="0" name="groupName" type="xs:string"/>
     <xs:element minOccurs="0" name="groupUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUsersByGroupUid">
    <xs:sequence>
     <xs:element minOccurs="0" name="groupUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUsersByGroupUidResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchChildren">
    <xs:sequence>
     <xs:element minOccurs="0" name="searchString" type="xs:string"/>
     <xs:element name="limit" type="xs:int"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchChildrenResponse">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:child"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getChildInfo">
    <xs:sequence>
     <xs:element minOccurs="0" name="childUid" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getChildInfoResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="child" type="tns:child"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByEmployeeSsn">
    <xs:sequence>
     <xs:element minOccurs="0" name="ssn" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getUserUidByEmployeeSsnResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name="UsersAndGroupsService_getKunpoNameByUserUid">
  <part element="tns:getKunpoNameByUserUid" name="getKunpoNameByUserUid"/>
 </message>
 <message name="UsersAndGroupsService_getUsersChildren">
  <part element="tns:getUsersChildren" name="getUsersChildren"/>
 </message>
 <message name="UsersAndGroupsService_searchChildren">
  <part element="tns:searchChildren" name="searchChildren"/>
 </message>
 <message name="UsersAndGroupsService_getUserInfo">
  <part element="tns:getUserInfo" name="getUserInfo"/>
 </message>
 <message name="UsersAndGroupsService_getLooraNameByUserUidResponse">
  <part element="tns:getLooraNameByUserUidResponse" name="getLooraNameByUserUidResponse"/>
 </message>
 <message name="UsersAndGroupsService_searchUsers">
  <part element="tns:searchUsers" name="searchUsers"/>
 </message>
 <message name="UsersAndGroupsService_searchGroupsResponse">
  <part element="tns:searchGroupsResponse" name="searchGroupsResponse"/>
 </message>
 <message name="UsersAndGroupsService_searchChildrenResponse">
  <part element="tns:searchChildrenResponse" name="searchChildrenResponse"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByKunpoName">
  <part element="tns:getUserUidByKunpoName" name="getUserUidByKunpoName"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByEmployeeSsnResponse">
  <part element="tns:getUserUidByEmployeeSsnResponse" name="getUserUidByEmployeeSsnResponse"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByLooraNameResponse">
  <part element="tns:getUserUidByLooraNameResponse" name="getUserUidByLooraNameResponse"/>
 </message>
 <message name="UsersAndGroupsService_getUsersByGroupUid">
  <part element="tns:getUsersByGroupUid" name="getUsersByGroupUid"/>
 </message>
 <message name="UsersAndGroupsService_getKunpoNameByUserUidResponse">
  <part element="tns:getKunpoNameByUserUidResponse" name="getKunpoNameByUserUidResponse"/>
 </message>
 <message name="UsersAndGroupsService_getLooraNameByUserUid">
  <part element="tns:getLooraNameByUserUid" name="getLooraNameByUserUid"/>
 </message>
 <message name="UsersAndGroupsService_getUsersChildrenResponse">
  <part element="tns:getUsersChildrenResponse" name="getUsersChildrenResponse"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByLooraName">
  <part element="tns:getUserUidByLooraName" name="getUserUidByLooraName"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByKunpoNameResponse">
  <part element="tns:getUserUidByKunpoNameResponse" name="getUserUidByKunpoNameResponse"/>
 </message>
 <message name="UsersAndGroupsService_getSsnByLdapNameResponse">
  <part element="tns:getSsnByLdapNameResponse" name="getSsnByLdapNameResponse"/>
 </message>
 <message name="UsersAndGroupsService_getChildInfo">
  <part element="tns:getChildInfo" name="getChildInfo"/>
 </message>
 <message name="UsersAndGroupsService_getSsnByLdapName">
  <part element="tns:getSsnByLdapName" name="getSsnByLdapName"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByKunpoSsnResponse">
  <part element="tns:getUserUidByKunpoSsnResponse" name="getUserUidByKunpoSsnResponse"/>
 </message>
 <message name="UsersAndGroupsService_searchEmployeesResponse">
  <part element="tns:searchEmployeesResponse" name="searchEmployeesResponse"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByEmployeeSsn">
  <part element="tns:getUserUidByEmployeeSsn" name="getUserUidByEmployeeSsn"/>
 </message>
 <message name="UsersAndGroupsService_searchEmployees">
  <part element="tns:searchEmployees" name="searchEmployees"/>
 </message>
 <message name="UsersAndGroupsService_searchUsersResponse">
  <part element="tns:searchUsersResponse" name="searchUsersResponse"/>
 </message>
 <message name="UsersAndGroupsService_getUserInfoResponse">
  <part element="tns:getUserInfoResponse" name="getUserInfoResponse"/>
 </message>
 <message name="UsersAndGroupsService_getUserUidByKunpoSsn">
  <part element="tns:getUserUidByKunpoSsn" name="getUserUidByKunpoSsn"/>
 </message>
 <message name="UsersAndGroupsService_getUsersByGroupUidResponse">
  <part element="tns:getUsersByGroupUidResponse" name="getUsersByGroupUidResponse"/>
 </message>
 <message name="UsersAndGroupsService_getChildInfoResponse">
  <part element="tns:getChildInfoResponse" name="getChildInfoResponse"/>
 </message>
 <message name="UsersAndGroupsService_searchGroups">
  <part element="tns:searchGroups" name="searchGroups"/>
 </message>
 <portType name="UsersAndGroupsService">
  <operation name="getChildInfo" parameterOrder="getChildInfo">
   <input message="tns:UsersAndGroupsService_getChildInfo"/>
   <output message="tns:UsersAndGroupsService_getChildInfoResponse"/>
  </operation>
  <operation name="getKunpoNameByUserUid" parameterOrder="getKunpoNameByUserUid">
   <input message="tns:UsersAndGroupsService_getKunpoNameByUserUid"/>
   <output message="tns:UsersAndGroupsService_getKunpoNameByUserUidResponse"/>
  </operation>
  <operation name="getLooraNameByUserUid" parameterOrder="getLooraNameByUserUid">
   <input message="tns:UsersAndGroupsService_getLooraNameByUserUid"/>
   <output message="tns:UsersAndGroupsService_getLooraNameByUserUidResponse"/>
  </operation>
  <operation name="getSsnByLdapName" parameterOrder="getSsnByLdapName">
   <input message="tns:UsersAndGroupsService_getSsnByLdapName"/>
   <output message="tns:UsersAndGroupsService_getSsnByLdapNameResponse"/>
  </operation>
  <operation name="getUserInfo" parameterOrder="getUserInfo">
   <input message="tns:UsersAndGroupsService_getUserInfo"/>
   <output message="tns:UsersAndGroupsService_getUserInfoResponse"/>
  </operation>
  <operation name="getUserUidByEmployeeSsn" parameterOrder="getUserUidByEmployeeSsn">
   <input message="tns:UsersAndGroupsService_getUserUidByEmployeeSsn"/>
   <output message="tns:UsersAndGroupsService_getUserUidByEmployeeSsnResponse"/>
  </operation>
  <operation name="getUserUidByKunpoName" parameterOrder="getUserUidByKunpoName">
   <input message="tns:UsersAndGroupsService_getUserUidByKunpoName"/>
   <output message="tns:UsersAndGroupsService_getUserUidByKunpoNameResponse"/>
  </operation>
  <operation name="getUserUidByKunpoSsn" parameterOrder="getUserUidByKunpoSsn">
   <input message="tns:UsersAndGroupsService_getUserUidByKunpoSsn"/>
   <output message="tns:UsersAndGroupsService_getUserUidByKunpoSsnResponse"/>
  </operation>
  <operation name="getUserUidByLooraName" parameterOrder="getUserUidByLooraName">
   <input message="tns:UsersAndGroupsService_getUserUidByLooraName"/>
   <output message="tns:UsersAndGroupsService_getUserUidByLooraNameResponse"/>
  </operation>
  <operation name="getUsersByGroupUid" parameterOrder="getUsersByGroupUid">
   <input message="tns:UsersAndGroupsService_getUsersByGroupUid"/>
   <output message="tns:UsersAndGroupsService_getUsersByGroupUidResponse"/>
  </operation>
  <operation name="getUsersChildren" parameterOrder="getUsersChildren">
   <input message="tns:UsersAndGroupsService_getUsersChildren"/>
   <output message="tns:UsersAndGroupsService_getUsersChildrenResponse"/>
  </operation>
  <operation name="searchChildren" parameterOrder="searchChildren">
   <input message="tns:UsersAndGroupsService_searchChildren"/>
   <output message="tns:UsersAndGroupsService_searchChildrenResponse"/>
  </operation>
  <operation name="searchEmployees" parameterOrder="searchEmployees">
   <input message="tns:UsersAndGroupsService_searchEmployees"/>
   <output message="tns:UsersAndGroupsService_searchEmployeesResponse"/>
  </operation>
  <operation name="searchGroups" parameterOrder="searchGroups">
   <input message="tns:UsersAndGroupsService_searchGroups"/>
   <output message="tns:UsersAndGroupsService_searchGroupsResponse"/>
  </operation>
  <operation name="searchUsers" parameterOrder="searchUsers">
   <input message="tns:UsersAndGroupsService_searchUsers"/>
   <output message="tns:UsersAndGroupsService_searchUsersResponse"/>
  </operation>
 </portType>
 <binding name="UsersAndGroupsServiceBinding" type="tns:UsersAndGroupsService">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getChildInfo">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getKunpoNameByUserUid">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getLooraNameByUserUid">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getSsnByLdapName">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getUserInfo">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getUserUidByEmployeeSsn">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getUserUidByKunpoName">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getUserUidByKunpoSsn">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getUserUidByLooraName">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getUsersByGroupUid">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getUsersChildren">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="searchChildren">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="searchEmployees">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="searchGroups">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="searchUsers">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="UsersAndGroupsService">
  <port binding="tns:UsersAndGroupsServiceBinding" name="UsersAndGroupsServicePort">
<!--   <soap:address location="http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-arcusys-common-0.1-SNAPSHOT/UsersAndGroupsServiceImpl"/>-->
   
   <soap:address location="http://localhost:8180/arcusys-koku-0.1-SNAPSHOT-arcusys-common-0.1-SNAPSHOT/UsersAndGroupsServiceImpl"/>
  </port>
 </service>
</definitions>